{% extends self.layout %}

{% block title %}Index page{% endblock %}
{% block content %}
    <h1>Engine with Tea</h1>
    <p>
        PHP framework<br><br>
        <a href="http://gatopresto.com/" target="_blank">Contact me</a><br>
    </p>
{% endblock %}